/* /////////////////////////
    BASIC STRUCTURE
///////////////////////// */

.habit-sec {
  position: relative;
}

.side-sec {
  z-index: 11;
  background-color: var(--clr-bg-grey);
  height: 100vh;
}

@media (min-width: 1024px) {
  .habit-sec {
    width: calc(100% - 28rem);
    height: 100vh;
    overflow-y: auto;
  }
  .side-sec {
    position: fixed;
    top: 0;
    right: 0;
    width: 28rem;
    overflow: hidden;
  }
}

/* /////////////////////////
    Components
///////////////////////// */

.habit-sec header {
  align-items: start;
  justify-content: center;
}

.habit-sec header .logo {
  padding-top: 0.6rem;
}

.habit-sec header .headline div:has(button) {
  gap: .8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: .4rem 0;
}

@media (min-width: 426px) {
  .habit-sec header .headline {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .habit-sec header .headline {
    width: fit-content;
    display: block;
  }

  .habit-sec button.fab {
    right: calc(28rem + 1.6rem);
  }
}

/* TODAY'S DATE AND TIME */

header button.date-time-box {
  margin-left: auto;
  color: var(--clr-text-black);
}

header button.date-time-box > div {
  display: flex;
  flex-direction: column;
}

header button.date-time-box .col-left {
  align-items: end;
}

header button.date-time-box .col-right {
  align-items: start;
}

header :is(.date-day-num, .date-month, .time) {
  font-weight: 600;
}

header .date-year {
  letter-spacing: 0.44rem;
}

/* QUOTE BOX */

.quote-box {
  padding: 1.6rem;
  border-radius: 1.6rem;
  margin: 0.4rem 0;
  width: 100%;
  max-width: 42.6rem;
}

.quote-box .bi-quote {
  color: var(--clr-primary-dark);
}

.quote {
  display: flex;
  gap: 0.8rem;
}

.quote-author,
.quote-achievement {
  width: fit-content;
  margin-left: auto;
}

.quote-author {
  margin-top: 0.4rem;
  color: var(--clr-accent);
}
