/* /////////////////////////
EDIT PROFILE SECTION
///////////////////////// */

.edit-profile-sec {
  /* padding: 0.4rem; */
  background-color: var(--clr-bg-grey);
  min-height: 100vh;
}

@media (min-width: 769px) {
  .edit-profile-sec {
    display: flex;
    gap: 0.8rem;
    justify-content: stretch;
    align-items: stretch;
  }

  .edit-profile-sec > * {
    width: 100%;
  }
}

/* EDIT AVATAR SECTION */
.edit-avatar-sec {
  background-color: var(--clr-bg-white);
  padding: 0.4rem;
  margin: 0.4rem;
  padding-bottom: 3.2rem;
  border-radius: 1.6rem;
}

/* CURRENT AVATAR */
.edit-avatar-sec .avatar {
  width: 17rem;
}

.avatar .edit-avatar-btn {
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% -75%;
  z-index: 11;
  background-color: var(--clr-bg-white);
  border-radius: 10rem;
}

button.edit-avatar-btn:hover {
  background-color: var(--clr-bg-white);
}

.avatar:has(.edit-avatar-btn:hover) img {
  filter: grayscale(100);
}

/* CHOOSE AVATAR AND RADIOS */
.choose-avatar-sec {
  border-radius: 5rem;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.choose-avatar-sec.visible {
  max-height: 100rem;
}

@media (max-width: 768px) {
  .edit-avatar-sec:has(.choose-avatar-sec.visible) .edit-avatar-btn {
    opacity: 0;
    visibility: hidden;
  }

  .choose-avatar-sec {
    max-height: 0px;
  }
}
.avatar-radios-box fieldset label {
  padding-left: 1.6rem;
}

fieldset {
  max-width: 100%;
}

.avatar-radios-box .check-radio-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.avatar-radios-box .check-radio-box label {
  position: relative;
  width: 10.4rem;
  aspect-ratio: 1;
  padding: 0;
  border-radius: 50%;
  border: 2px dashed transparent;
  stroke-dashoffset: 10;
}

.avatar-radios-box .check-radio-box label input {
  position: absolute;
  z-index: 11;
  bottom: 8%;
  right: 8%;
  box-shadow: inset 0 0 0 2px var(--clr-accent), 0 0 0 4px var(--clr-bg-white);
}

.avatar-radios-box label:has(input:checked) {
  border-color: var(--clr-primary);
}

/* EDIT INFORMATION SECTION */
.edit-info-sec {
  min-height: 100%;
  background-color: var(--clr-bg-white);
  padding: 1.6rem;
}

.password-visibility-btn {
  position: absolute;
  display: none;
  opacity: 0;
  visibility: hidden;
}

/* Settings Sec */

.settings-sec {
  padding: 2.4rem;
  width: 100%;
  background-color: var(--clr-bg-grey);
}
